@import "./variables.scss";

html.dark-mode {
	background-color: $color-dark-0;

	body {
		color: $color-gray-0;
	}
	
	header {
		box-shadow: none;
	}

	header,
	.work-card,
	.cta-buttons a {
		background-color: $color-dark-1;
	}

	#sun {
		display: block;
	}

	#moon {
		display: none;
	}

	input[type='text'], textarea {
		border-color: $color-dark-2;
		background-color: $color-dark-1;
		color: $color-white;

		&:focus {
			border: 3px solid $color-green;
		}
	}
}
