@import "../../utils/shared.scss";

.floatingContact {
  display: block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  svg {
    width: 30px !important;
    height: 30px !important;
    display: block;
    padding: 1.5rem;
    box-sizing: content-box;
    background-color: $color-gray-dark;
    border-radius: 100%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }
}
