body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  font-size: 12px;
  font-family: system-ui, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-family: Sniglet, cursive;
  font-weight: normal;
  margin: 3rem 0;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

#menu {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: relative;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    object {
      width: 30px;
      height: auto;
    }
  }

  .menu-item-text {
    flex-grow: 1;
    padding: 0 1rem;
    font-family: Sniglet, cursive;
  }

  &.active {
    .menu-item-text,
    .chevron-right {
      display: block;
    }
  }

  .menu-item-text,
  .chevron-right {
    display: none;
  }
}

.top-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row-reverse;
}

.sun {
  padding: 1rem;
}

.content-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-y: scroll;
}

.content {
  padding: 0 3rem;
  max-width: 750px;
  margin: auto;
}

.home,
.briefcase,
.blog,
.user,
.file,
.message-circle,
.chevron-up,
.chevron-down,
.chevron-left,
.chevron-right,
.sun {
  width: 24px;
  height: 24px;
}

// Home Page
.mail,
.linkedin,
.twitter,
.facebook,
.github,
.codepen,
.rss {
  width: 24px;
  height: 24px;
}

.external-links {
  margin: 3rem 0;
  display: flex;

  a {
    display: block;
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
