.menu {
  background-color: #2a3142;
}

.top-bar {
  background-color: #36394c;
}

.content {
  background-color: #252735;
}

.menu,
.top-bar,
.content {
  color: #f8f8fa;
}
.menu a,
.menu object svg,
.top-bar a,
.top-bar object svg,
.content a,
.content object svg {
  color: #f8f8fa;
}