body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  font-size: 12px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-family: Sniglet, cursive;
  font-weight: normal;
}

.menu {
  grid-column: 1/2;
  grid-row: 1/3;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  padding: 1rem;
  font-size: 2rem;
}
.menu li a {
  display: flex;
  align-items: center;
}
.menu li object {
  width: 30px;
  height: auto;
}
.menu li .menu-item-text {
  flex-grow: 1;
  padding: 0 1rem;
}

.top-bar {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row-reverse;
}

.sun {
  padding: 1rem;
}

.content {
  grid-column: 2/3;
  grid-row: 2/3;
}

.home,
.briefcase,
.blog,
.user,
.file,
.message-circle,
.chevron-up,
.chevron-down,
.chevron-left,
.chevron-right,
.sun {
  width: 24px;
  height: 24px;
}

.mail,
.linkedin,
.twitter,
.facebook,
.github,
.codepen,
.rss {
  width: 24px;
  height: 24px;
}