<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} | Tony Prokop</title>
    <link href="https://fonts.googleapis.com/css?family=Sniglet&display=swap" rel="stylesheet">
    {% set css %}
    {% include "index.css" %}
    {% endset %}
    {% set darkTheme %}
    {% include "dark-theme.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
      {{darkTheme | cssmin | safe}}
    </style>
  </head>
  <body>
    <header  class="menu">
      <ul>
        <li>
          <a href="/">
            <svg class="home">
              <use href="icons/home.svg#home"/>
            </svg>
            <span class="menu-item-text">Home</span>
            <svg class="chevron-right">
              <use href="icons/chevron-right.svg#chevron-right"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/projects">
            <svg class="briefcase">
              <use href="icons/briefcase.svg#briefcase"/>
            </svg>
            <span class="menu-item-text">Projects</span>
            <svg class="chevron-right">
              <use href="icons/chevron-right.svg#chevron-right"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/blog">
            <svg class="blog">
              <use href="icons/blog.svg#blog"/>
            </svg>
            <span class="menu-item-text">Blog</span>
            <svg class="chevron-right">
              <use href="icons/chevron-right.svg#chevron-right"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/about">
            <svg class="user">
              <use href="icons/user.svg#user"/>
            </svg>
            <span class="menu-item-text">About</span>
            <svg class="chevron-right">
              <use href="icons/chevron-right.svg#chevron-right"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/resume">
            <svg class="file">
              <use href="icons/file.svg#file"/>
            </svg>
            <span class="menu-item-text">Resume</span>
            <svg class="chevron-right">
              <use href="icons/chevron-right.svg#chevron-right"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="/contact">
            <svg class="message-circle">
              <use href="icons/message-circle.svg#message-circle"/>
            </svg>
            <span class="menu-item-text">Contact</span>
            <svg class="chevron-right">
              <use href="icons/chevron-right.svg#chevron-right"/>
            </svg>
          </a>
        </li>
      </ul>
    </header>
    <div class="top-bar">
      <svg class="sun">
        <use href="icons/sun.svg#sun"/>
      </svg>
    </div>
    <div class="content">
      {{ content | safe }}
    </div>
  </body>
</html>