<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} | Tony Prokop</title>
    <link href="https://fonts.googleapis.com/css?family=Sniglet&display=swap" rel="stylesheet">
    {% set css %}
    {% include "index.css" %}
    {% endset %}
    {% set darkTheme %}
    {% include "dark-theme.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
      {{darkTheme | cssmin | safe}}
    </style>
  </head>
  <body>
    <header  class="menu">
      <ul>
        <li>
          <a href="/">
            <object type="image/svg+xml" data="icons/home.svg"></object>
            <span class="menu-item-text">Home</span>
            <object type="image/svg+xml" data="icons/chevron-right.svg"></object>
          </a>
        </li>
        <li>
          <a href="/projects">
            <object type="image/svg+xml" data="icons/briefcase.svg"></object>
            <span class="menu-item-text">Projects</span>
            <object type="image/svg+xml" data="icons/chevron-right.svg"></object>
          </a>
        </li>
        <li>
          <a href="/blog">
            <object type="image/svg+xml" data="icons/edit-3.svg"></object>
            <span class="menu-item-text">Blog</span>
            <object type="image/svg+xml" data="icons/chevron-right.svg"></object>
          </a>
        </li>
        <li>
          <a href="/about">
            <object type="image/svg+xml" data="icons/user.svg"></object>
            <span class="menu-item-text">About</span>
            <object type="image/svg+xml" data="icons/chevron-right.svg"></object>
          </a>
        </li>
        <li>
          <a href="/resume">
            <object type="image/svg+xml" data="icons/file.svg"></object>
            <span class="menu-item-text">Resume</span>
            <object type="image/svg+xml" data="icons/chevron-right.svg"></object>
          </a>
        </li>
        <li>
          <a href="/contact">
            <object type="image/svg+xml" data="icons/message-circle.svg"></object>
            <span class="menu-item-text">Contact</span>
            <object type="image/svg+xml" data="icons/chevron-right.svg"></object>
          </a>
        </li>
      </ul>
    </header>
    <div class="top-bar">
      <object class="sun" type="image/svg+xml" data="icons/sun.svg"></object>
    </div>
    <div class="content">
      {{ content | safe }}
    </div>
  </body>
</html>