@import "../../utils/shared.scss";

.button {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Raleway";
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 4.5rem;
  border-radius: 3rem;
  cursor: pointer;
  color: white;
}

.white {
  background-color: white;
  color: $color-primary-purple;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #eee;
  }
}

.primary {
  background: $gradient-primary-teal-to-purple;
}

.purple {
  background: $gradient-purple-light-to-dark;
}

.red {
  background: $gradient-red-light-to-dark;
}

.green {
  background: $gradient-green-light-to-dark;
}

.blue {
  background: $gradient-blue-light-to-dark;
}

.orange {
  background: $gradient-orange-light-to-dark;
}
