@import "../../utils/shared.scss";

.menuContainer {
  font-size: 3rem;
  position: relative;
  z-index: 10;

  &.active {
    height: 100vh;
    height: -webkit-fill-available;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $color-black;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  svg[data-icon="bars"],
  svg[data-icon="times"] {
    width: 3rem !important;
    height: 3rem !important;
    cursor: pointer;
  }

  svg[data-icon="times"] {
    color: white;
  }

  svg[data-icon="bars"] {
    color: $color-gray-dark;
  }

  .openMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.externalLinks {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: $contentWhiteSpace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    margin: 2rem 0;
    width: 30px !important;
    height: 30px !important;
  }
}

.menuLinks {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  div {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
