@import "../utils/shared.scss";

.hero {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .heroText,
  img {
    max-width: 50%;
  }
}

.heroText {
  h1 {
    font-size: 5rem;
    font-weight: 600;
  }

  p {
    font-size: 2rem;
  }

  svg {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (max-width: 700px) {
  .hero {
    flex-direction: column;

    .heroText,
    img {
      max-width: 100%;
    }
  }
}

.workDetailsContainer {
  background-color: $color-gray-dark;
}

.workDetailsContentContainer {
  display: flex;
  font-size: 1.5rem;
  color: white;

  h2,
  h3,
  p {
    margin: 1rem 0;
  }
}

.missionContainer {
  width: 60%;
  padding-right: $contentWhiteSpace;

  h3 {
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem 0;
  }

  p {
    line-height: 2.5rem;
  }
}

.detailsSidebarContainer {
  width: 40%;
  padding-left: $contentWhiteSpace;

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  .sidebarSection {
    padding: $contentWhiteSpace 0;
    border-top: 1px solid $color-gray;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }

    &:last-child {
      padding-bottom: 0;
    }

    h3 {
      display: inline;
      margin-right: 1rem;
      word-wrap: break-word;
    }
  }
}

@media (max-width: 710px) {
  .workDetailsContentContainer {
    flex-direction: column;
  }

  .missionContainer {
    padding-right: 0;
    width: 100%;
  }

  .detailsSidebarContainer {
    padding-left: 0;
    width: 100%;
    padding-top: $sectionWhiteSpace;
  }
}

.label {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $color-gray;
}
