<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} | Tony Prokop</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
        <style>
            {% include "css/index.css" %}
            {% include "css/dark-mode.css" %}
        </style>
    </head>
    <body>
        <header>
            <div class="logo">Tony<span>Prokop</span></div>
            {% from "macros/_icon.njk" import icon %}
            <span id="theme-toggle">{{ icon('moon') }}</span>
        </header>
        <div class="content-container">
            {{content | safe}}
        </div>
		{% set js %}
        {% include "js/index.js" %}
        {% endset %}
		<script>
        	{{ js | jsmin | safe }}
        </script>
    </body>
</html>