<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} | Tony Prokop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="freelance web developer">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
        <style>
            {% include "css/index.css" %}
            {% include "css/dark-mode.css" %}
        </style>
    </head>
    <body>
        <header>
            <div class="logo">Tony<span>Prokop</span></div>
            <span id="theme-toggle">
				{{ "/icons/moon.svg" | svgContents | safe }}
				{{ "/icons/sun.svg" | svgContents | safe }}
			</span>
        </header>
        <div class="content-container">
            {{content | safe}}
        </div>
		{% set js %}
        {% include "js/index.js" %}
        {% endset %}
		<script>
        	{{ js | jsmin | safe }}
        </script>
    </body>
</html>