@import "../../utils/shared.scss";

.externalLinks {
  text-align: center;
  margin-top: 5rem;

  a {
    margin: 0 1rem;
  }

  svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}

.email,
.phone {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}
