@import "../../utils/shared.scss";

html {
  color: $color-gray-dark;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

@media (max-width: 1000px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 10px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

main {
  max-width: $pageWidth;
  margin: 0 auto 0;
}

a {
  color: $color-red;
  text-decoration-color: $color-red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

::selection {
  background-color: $color-gray-dark;
  color: white;
}

.contentContainer {
  display: block;
  width: 100%;
  max-width: $contentWidth;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $contentWhiteSpace;
}

.section {
  padding-top: $sectionWhiteSpace;
  padding-bottom: $sectionWhiteSpace;
}
