@import "../utils/shared.scss";

.aboutContainer {
  img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }

  h1,
  p {
    margin: $contentWhiteSpace 0;
  }
}
