@import "../utils/shared.scss";

.hero {
  width: 100%;
  max-width: $contentWidth;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  h1 {
    font-size: 5rem;
    font-weight: 500;
  }

  svg[data-icon="arrow-down"] {
    margin: auto;
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
  }
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-gray-dark;

  img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: -5rem auto 0;
  }

  h2 {
    color: white;
    width: 100%;
    font-size: 4rem;
    margin: 4rem 0;
    font-weight: 500;
  }
}

.services {
  width: 100%;
  max-width: $contentWidth;
  margin: 0 auto;
}

.work {
  background-color: $color-gray-light;
  padding: 5rem;
  margin: 5rem;
  max-width: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .name {
    font-size: 3rem;
    font-weight: 500;
  }

  a {
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.5rem;
  }

  img {
    width: 100%;
    max-width: 300px;
    margin-right: -25%;
  }
}
