@import "../utils/shared.scss";

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;

  svg[data-icon="arrow-down"] {
    position: absolute;
    bottom: 3rem;
    margin: auto;
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
  }
}

.bannerText {
  z-index: 1;
  text-align: center;

  button {
    margin: 0 auto;
    display: block;
  }
}

.heading {
  max-width: $pageWidth;
  margin: 0 0 2rem;
  padding: 0 2rem;
}

.divider {
  height: 100vh;
  width: 100%;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-gray-dark;
}

.workContainer {
  .work {
    text-align: center;
  }
}
