@media print {
  @page {
    margin: 0;
  }

  html {
    font-size: 12px;
  }

  body {
    padding: 3rem 5rem 0;
  }

  h1 {
    margin-top: 3rem;
  }

  .section {
    padding-top: 0;
  }

  .logo,
  .menu,
  footer {
    display: none;
  }

  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}
