.heading {
  margin-bottom: 2rem;
}

.main {
  width: 66.66666%;
  padding-right: 5%;
  box-sizing: border-box;
  float: left;

  .contact {
    display: none;
  }
}

.sidebar {
  width: 33.33333%;
  padding-left: 5%;
  box-sizing: border-box;
  float: right;
}

@media (max-width: 1020px) {
  .main,
  .sidebar {
    width: 100%;
    float: none;
    padding: 0;
  }

  .main {
    .contact {
      display: block;
    }
  }

  .sidebar .contact {
    display: none;
  }
}

.resumeObjective,
.experience,
.skills,
.process,
.education {
  margin-top: 2rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.contact {
  margin-top: 2rem;

  svg {
    font-size: 0.75rem;
  }

  div {
    margin-bottom: 0.5rem;
  }
}

.experience {
  h2 {
    margin-bottom: 0;
  }

  h3 {
    font-family: "Merriweather";
    margin-top: 2rem;
  }
}

.subhead {
  font-style: italic;
  margin-top: 1rem;
  font-family: "Merriweather";
  font-size: 0.75rem;
}

.skills {
  div {
    margin-top: 1rem;
  }
}

.process {
  div {
    margin-top: 1rem;
  }
}

.education {
  div {
    margin-top: 1rem;
  }
}
