:root {
  --clr-black: #1b1b1b;
  --clr-gray-1: #2e2e2e;
  --clr-gray-2: #bebebe;
  --clr-gray-3: #f6f6f6;
  --clr-white: #ffffff;
  --clr-primary: #1ed760;
  --max-width: 1280px;
  --default-white-space: 3rem;

  @media (min-width: 650px) {
    --default-white-space: 5rem;
  }
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 300;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;

  &.menuOpen {
    overflow: hidden;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--clr-white);
  color: var(--clr-black);

  &.--dark {
    background-color: var(--clr-black);
    color: var(--clr-white);
    a {
      background-color: var(--clr-black);
      color: var(--clr-white);
    }
  }
}

main {
  flex-grow: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--clr-black);
  &:hover {
    color: var(--clr-primary);
  }
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 500;
}

h1 {
  font-size: clamp(3.2rem, 8vw, 6.734rem);
}

h2 {
  font-size: clamp(3.2rem, 8vw, 5.052rem);
}

h3 {
  font-size: clamp(3.2rem, 8vw, 3.79rem);
}

p {
  max-width: 60rem;
  line-height: 1.8;
}

section {
  .section-content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10rem var(--default-white-space);
  }
}

*::selection {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.form {
  max-width: 800px;
  margin: 0 auto;
  display: grid;

  input[name="super-secret-field"] {
    display: none;
  }

  .form-row {
    display: flex;
    margin-bottom: 3rem;
  }

  .form-row.half .form-group {
    flex-basis: 50%;
  }

  @media (max-width: 700px) {
    .form-row.half {
      flex-wrap: wrap;
    }

    .form-row.half .form-group {
      flex-basis: 100%;
    }
  }

  .form-group {
    width: 100%;
  }

  .gutter {
    width: 30px;
    height: 30px;
  }

  label {
    display: block;
    margin-bottom: 1rem;
    flex: none;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    border: none;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: var(--clr-white);
    background-color: var(--clr-gray-1);
    border-radius: 5px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: var(--clr-white);
    -webkit-box-shadow: 0 0 0 1000px var(--clr-gray-1) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .form-button {
    width: fit-content;
  }
}
