@import "../utils/shared.scss";

.heading {
  text-align: center;
  margin: 5rem auto 3rem;
  width: 100%;

  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 3px;
    background: $gradient-primary-teal-to-purple;
  }

  p {
    margin: 0.5rem 0 1rem;
    font-size: 1.5rem;
    font-family: "Merriweather";
    font-weight: 100;
  }
}
