@import "../utils/shared.scss";

@font-face {
  font-family: "Merriweather-Bold";

  src: url("../../static/fonts/Merriweather-Bold.woff") format("woff"),
    url("../../static/fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  color: $color-black;
  font-size: 24px;
  font-family: Arial;
}

body {
  margin: 0;
}

a {
  color: $color-black;
  text-decoration: underline;
  text-decoration-color: $color-red;

  &:hover {
    color: $color-red;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-family: "Merriweather-Bold";
}

h2 {
  font-size: 1.5rem;
  font-family: "Merriweather-Bold";
}

h3 {
  font-size: 1rem;
}

.callToActionLink {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  svg[data-icon="chevron-right"] {
    margin-left: 0.5rem;
  }
}

svg[data-icon="chevron-up"],
svg[data-icon="chevron-down"],
svg[data-icon="chevron-left"],
svg[data-icon="chevron-right"] {
  color: $color-red;
}

svg[data-icon="envelope"]:hover {
  color: $color-email;
}

svg[data-icon="phone"]:hover {
  color: $color-phone;
}

svg[data-icon="linkedin"]:hover {
  color: $color-linkedin;
}

svg[data-icon="github"]:hover {
  color: $color-github;
}

svg[data-icon="facebook"]:hover {
  color: $color-facebook;
}

svg[data-icon="rss"]:hover {
  color: $color-rss;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  font-family: "Merriweather-Bold";

  a {
    text-decoration: none;
  }

  span {
    color: $color-red;
  }
}