@import "../utils/shared.scss";

.menuContainer {
    font-size: 1.5rem;

    &.active {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: $color-black;
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
    }

    svg[data-icon="bars"], svg[data-icon="times"] {
        width: 1.5rem !important;
        height: 1.5rem !important;
        z-index: 1;
        cursor: pointer;
    }
    
    svg[data-icon="bars"] {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }
    
    svg[data-icon="times"] {
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.menuLinks, .externalLinks {
    display: flex;
    flex-direction: column;


    a {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.menuLinks {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    text-align: right;
}

.externalLinks {
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    text-align: left;
}

@media (max-width: 600px) {
    .menuLinks {
        right: 1rem;
        bottom: 1rem;
    }
    
    .externalLinks {
        left: 1rem;
        bottom: 1rem;
    }
}