@import "../utils/shared.scss";

.menuContainer {
  font-size: 1.5rem;

  &.active {
    height: 100vh;
    height: -webkit-fill-available;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: $color-black;
    color: white;
  }

  a {
    color: white;
  }

  svg[data-icon="bars"],
  svg[data-icon="times"] {
    width: 1.5rem !important;
    height: 1.5rem !important;
    z-index: 1;
    cursor: pointer;
  }

  svg[data-icon="bars"] {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  svg[data-icon="times"] {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.externalLinks {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;

  a {
    margin: 0 1rem;
  }
}

.menuLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  a {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
