@import "../utils/shared.scss";

.service {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 33.33333%;
  min-width: 300px;
  text-align: center;
  padding: 4rem;
  box-sizing: border-box;

  h3 {
    font-family: "Merriweather";
    font-weight: normal;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  p {
    font-family: "Merriweather";
    font-weight: 100;
    margin: 0;
    color: #555555;
  }
}

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;

  svg {
    color: white;
    width: 100% !important;
    height: 100% !important;
    max-width: 3rem !important;
    max-height: 3rem !important;
  }
}

.purple {
  background: $gradient-purple-dark-to-light;
}

.red {
  background: $gradient-red-dark-to-light;
}

.green {
  background: $gradient-green-dark-to-light;
}

.blue {
  background: $gradient-blue-dark-to-light;
}

.orange {
  background: $gradient-orange-dark-to-light;
}
