@import "../utils/shared.scss";

.service {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1rem;

  h3 {
    font-family: "Merriweather";
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
    color: white;
  }

  p {
    font-family: "Merriweather";
    font-weight: 100;
    margin: 1rem 0 0;
    color: $color-gray;
    max-width: 300px;
  }
}

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;

  svg {
    color: white;
    width: 100% !important;
    height: 100% !important;
    max-width: 3rem !important;
    max-height: 3rem !important;
  }
}

.text {
  max-width: 300px;
}
