$color-black: #15121e;
$color-gray: #5f5a63;
$color-lightGray: #aaabac;
$color-red: #bb513b;
$color-facebook: #3c5a99;
$color-email: #d44638;
$color-phone: #33965a;
$color-linkedin: #0077b5;
$color-github: #6cc644;
$color-rss: #f26522;

$color-purple: #9708cc;
$color-teal: #43cbff;

$pageWidth: 1000px;
$contentWidth: 600px;
