$color-black: #15121E;
$color-gray: #5F5A63;
$color-lightGray: #AAABAC;
$color-red: #BB513B;
$color-facebook: #3C5A99;
$color-email: #D44638;
$color-phone: #33965a;
$color-linkedin: #0077B5;
$color-github: #6cc644;
$color-rss: #f26522;

$maxWidth: 1000px;