$color-red: #ee0011;
$color-green: #3cf73c;
$color-gray-light: #f6f6f6;
$color-gray: #cfcfcf;
$color-gray-dark: #3a3a3a;

$contentWidth: 1000px;

$contentWhiteSpace: 4rem;
$sectionWhiteSpace: 8rem;

@mixin bounce {
  animation: bounce 2s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
