@import "../../utils/shared.scss";

.footer {
  background-color: $color-gray-dark;
  color: white;
}

.footerTitle {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
}

.email {
  font-size: 2rem;
  margin: 1rem 0 4rem;
}

.linkedin,
.github {
  display: inline-block;
  text-transform: uppercase;
  color: $color-red;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: none;

  svg {
    color: $color-gray;
    margin-right: 1rem;
  }
}
