---
layout: layout.njk
title: Projects
---

<h1>Hi, I'm Tony Prokop.</h1>
<img src="/img/tony_prokop.jpg" alt="Tony Prokop"/>
<p>I'm a front-end web developer based in Omaha, NE, currently excited about React, static site generators, and Netlify.</p>
<p>During the day I help maintain the <a href="https://www.speedwaymotors.com/" target="_blank" rel="noopener noreferrer">Speedway Motors</a> ecommerce platform, which supplies street and performance automotive parts to car enthusiasts around the world. At Speedway, I lead a team focused on implementing a website redesign.</p>
<p>In my free time you might find me installing IoT devices in my house, playing Zelda: Breath of the Wild, hiking, or helping my beautiful fiancé plan <a href="https://romantic-kare-10dfb7.netlify.com" target="_blank" rel="noopener noreferrer">our wedding</a> in 2020! 🎉</p>
<p>I'm available for side projects, <a href="mailto:prokop.tony@gmail.com" target="_blank" rel="noopener noreferrer">give me a shout!</a>
</p>