.text-link {
  border-bottom: 2px solid #626ed4;

  &:hover {
    background-color: #36394c;
  }
}

#menu {
  background-color: #2a3142;
}

.top-bar {
  background-color: #36394c;
}

.content-container {
  background-color: #252735;
}

#menu,
.top-bar,
.content {
  color: #f8f8fa;

  a,
  object svg {
    color: #f8f8fa;
  }
}
