---
layout: layout.njk
title: Home
---

<h1>I'm Tony Prokop, a front-end web developer.</h1>
<p>Experienced in React, .NET, and Ecommerce.</p>
<p>Have a project you'd like to discuss?</p>
<p>
    Let's chat:
    <a href="mailto:prokop.tony@gmail.com">prokop.tony@gmail.com</a>
</p>
<div class="external-links">
    <a href="mailto:prokop.tony@gmail.com">
        <object type="image/svg+xml" data="icons/mail.svg"></object>
    </a>
    <a href="">
        <object type="image/svg+xml" data="icons/linkedin.svg"></object>
    </a>
    <a href="">
        <object type="image/svg+xml" data="icons/twitter.svg"></object>
    </a>
    <a href="">
        <object type="image/svg+xml" data="icons/facebook.svg"></object>
    </a>
    <a href="">
        <object type="image/svg+xml" data="icons/github.svg"></object>
    </a>
    <a href="">
        <object type="image/svg+xml" data="icons/codepen.svg"></object>
    </a>
    <a href="">
        <object type="image/svg+xml" data="icons/rss.svg"></object>
    </a>
</div>