---
layout: layout.njk
title: Home
---

<h1>I'm Tony Prokop, a front-end web developer.</h1>
<p>Experienced in React, .NET, and Ecommerce.</p>
<p>Have a project you'd like to discuss?</p>
<p>
    Let's chat:
    <a href="mailto:prokop.tony@gmail.com">prokop.tony@gmail.com</a>
</p>
<div class="external-links">
    <a href="mailto:prokop.tony@gmail.com">
        <svg class="mail">
            <use href="/icons/mail.svg#mail"/>
        </svg>
    </a>
    <a href="">
        <svg class="linkedin">
            <use href="/icons/linkedin.svg#linkedin"/>
        </svg>
    </a>
    <a href="">
        <svg class="twitter">
            <use href="/icons/twitter.svg#twitter"/>
        </svg>
    </a>
    <a href="">
        <svg class="facebook">
            <use href="/icons/facebook.svg#facebook"/>
        </svg>
    </a>
    <a href="">
        <svg class="github">
            <use href="/icons/github.svg#github"/>
        </svg>
    </a>
    <a href="">
        <svg class="codepen">
            <use href="/icons/codepen.svg#codepen"/>
        </svg>
    </a>
    <a href="">
        <svg class="rss">
            <use href="/icons/rss.svg#rss"/>
        </svg>
    </a>
</div>