---
layout: layout.njk
title: Home
---

{% from "macros/_workCard.njk" import workCard %}
{% from "macros/_icon.njk" import icon %}
{% set ctas = [
    {
        linkUrl: 'mailto:prokop.tony@gmail.com',
        icon: 'mail'
    }, {
        linkUrl: 'https://www.linkedin.com/in/tony-prokop',
        icon: 'linkedin'
    }, {
        linkUrl: 'https://github.com/TonyProkop',
        icon: 'github'
    }, {
        linkUrl: '/#latest-work',
        icon: 'chevron-down'
    }
] %}

<section>
	<h1>I'm Tony Prokop,<br />a web developer.</h1>
	<p>I design and build fast, responsive, and clean web experiences. <br />Have a project you'd like to discuss? Let's talk.</p>
	<div class="cta-buttons">
		{% for cta in ctas %}
			<a href="{{ cta.linkUrl }}">
				{{ icon(cta.icon) }}
			</a>
		{% endfor %}
	</div>
</section>

<section>
    <div id="latest-work" class="section-heading">
        <h2>Latest Work</h2>
        {# <div class="gallery-controls">
            {{ icon('chevron-left') }}
            {{ icon('chevron-right') }}
        </div> #}
    </div>
    <div id="work-container">
        {{ workCard("/images/flywheel.png", "Flywheel", "My current place of work, Flywheel is a managed WordPress hosting platform that helps creatives do their best work. At Flywheel, I build features that help agencies scale their businesses.", "https://getflywheel.com/") }}
        {{ workCard("/images/speedway_motors.png", "Speedway Motors", "Speedway Motors is an auto parts store selling to racers and rodders around the world. For 5 years I helped maintain all aspects of the ecommerce platform.", "https://www.speedwaymotors.com/") }}
        {{ workCard("/images/my_wedding.png", "My Wedding", "A website built to consolidate information for the guests of my wedding and collect RSVPs", "https://tonykatiewedding.com/") }}
    </div>
</section>

<section>
	<div id="contact" class="section-heading">
		<h2>Let's Work Together</h2>
	</div>
	<form id="contact-container" name="contact" method="POST" data-netlify="true" netlify-honeypot="yep">
		<input name="yep" />
		<ul>
			<li class="half">
				<label for="contact-name">Name</label>
				<input id="contact-name" type="text" name="Name" />
			</li>
			<li class="half">
				<label for="contact-phone">Phone Number</label>
				<input id="contact-phone" type="text" name="Phone" />
			</li>
			<li class="full">
				<label for="contact-email">Email</label>
				<input id="contact-email" type="text" name="Email" />
			</li>
			<li class="full">
				<label for="contact-description">Tell me about your project</label>
				<textarea id="contact-description" name="Description" rows="4"></textarea>
			</li>
		</ul>

		<button type="submit" class="primary">Let's Talk</button>
	</form>
</section>