---
layout: layout.njk
title: Home
---

{% from "macros/_workCard.njk" import workCard %}
{% from "macros/_icon.njk" import icon %}
{% set ctas = [
    {
        linkUrl: 'mailto:prokop.tony@gmail.com',
        icon: 'mail'
    }, {
        linkUrl: 'https://www.linkedin.com/in/tony-prokop',
        icon: 'linkedin'
    }, {
        linkUrl: 'https://github.com/TonyProkop',
        icon: 'github'
    }, {
        linkUrl: '/#latest-work',
        icon: 'chevron-down'
    }
] %}

<section>
	<h1>I'm Tony Prokop,<br />a web developer.</h1>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	<div class="cta-buttons">
		{% for cta in ctas %}
			<a href="{{ cta.linkUrl }}">
				{{ icon(cta.icon) }}
			</a>
		{% endfor %}
	</div>
</section>

<section>
    <div id="latest-work" class="section-heading">
        <h2>Latest Work</h2>
        {# <div class="gallery-controls">
            {{ icon('chevron-left') }}
            {{ icon('chevron-right') }}
        </div> #}
    </div>
    <div id="work-container">
        {{ workCard("/images/flywheel.png", "Flywheel", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s", "https://getflywheel.com/") }}
        {{ workCard("/images/speedway_motors.png", "Speedway Motors", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s", "https://www.speedwaymotors.com/") }}
        {{ workCard("/images/my_wedding.png", "My Wedding", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s", "https://tonykatiewedding.com/") }}
    </div>
</section>